.hero-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.hero-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin-right: 2rem;
}

.hero-img img {
    width: 300px;
    height: 400px;
    object-fit: cover; 
    overflow: hidden;
    border: 3px solid #f3d22d;
    border-radius: 6px;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.hero-text h1 {
    color: #f3d22d;
}

.hero-text p {
    width: 570px;
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.5;
}

.hero-additional-text {
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.5;
}

.hero-quote {
    font-style: italic; 
    font-size: 1.5em; 
    margin: 5rem auto; 
    padding: 0.8rem;
    border-left: 4px solid #ccc; 
    max-width: 600px;
    text-align: center;
}

@media (min-device-width: 360px) and (max-device-width: 428px) and (orientation: portrait) {
    .hero-box {
       flex-direction: column;
    }

    .hero-img {
        margin-right: 0;
    }

    .hero-text h1 {
       margin-top: 1rem;
       font-size: 1.4rem;
    }

    .hero-text h2 {
        font-size: 1.2rem;
    }
    
    .hero-text p {
        font-size: 1.2rem;
        margin-top: 1rem;
        width: 300px;
    }

    .hero-quote {
        font-size: 1.1em;
    }
}