.subtitle {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    animation: textSlideIn 1.8s ease-in-out;
}

@keyframes textSlideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-device-width: 360px) and (max-device-width: 428px) and (orientation: portrait) {
    .subtitle {
        font-size: 1.1rem;
    }
}