.rank-table-tr {
    margin-top: 5px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    color: #000;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.1rem;
    position: relative;
    padding-left: 0.3rem;
  }

  .rank-table-tr:hover {
    opacity: 0.9;
  }
  
  .rank-table-tr span:nth-child(1) {
    display: flex;
  }
  
  .rank-table-tr:nth-child(odd) {
    background-color: #e4cf62;
  }

  .user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    margin-left: 1.2rem;
  }

  .user-index {
    font-weight: bold;
    font-size: 1.1rem;
  }

  .selected-user {
    opacity: 0.9;
  }

  .table-tr-user {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .table-tr-points {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-icon, .points-icon {
    font-size: 1rem;
    margin-right: 0.5rem;
    color: #000;
  }