.timer-container {
    text-align: center;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 5rem;
}

@media (min-device-width: 360px) and (max-device-width: 428px) and (orientation: portrait) {
    .timer-container {
        margin-top: 3rem;
    }
 }