.levels-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

@media (min-device-width: 360px) and (max-device-width: 428px) and (orientation: portrait) {
    .levels-container {
        grid-template-columns: repeat(2, 1fr);
    }
 }