.home-container {
    max-width: 900px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-device-width: 360px) and (max-device-width: 428px) and (orientation: portrait) {
    .home-container {
        max-width: 428px;
        margin-top: 3rem;
    }
}