.fail-result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fail-header {
    color: #f3d22d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.fail-header .emoticon {
    font-size: 10rem;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    margin-bottom: 5rem;
}

/* routes */

.routes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
    width: 100%;
    font-size: 1.5rem;
}

.left-arrow, .right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Cactus Classical Serif", serif;
}

.repeat-level {
    margin-right: 0.5rem;
}

.back {
    margin-left: 0.5rem;
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-family: "Cactus Classical Serif", serif;
    width: 100%;
}

.questions h1 {
    color: #f3d22d;
    font-size: 2.5rem;
    font-family: "Sofia Sans", sans-serif;
}

.question-header {
    margin-bottom: 2rem;
    text-align: left;
    line-height: 1.7;
}

.question-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem 0 1rem 0;
}

.question-answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.question-answer {
  border: 2px solid #000000;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  text-align: left;
  font-size: 1rem;
}

.wrong-answer {
    background-color: #9f2020;
}

.right-answer {
    background-color: #238622;
}

@media (min-device-width: 360px) and (max-device-width: 428px) and (orientation: portrait) {
    .fail-result-container {
      margin-top: 3rem;
    }

    .fail-header {
        font-size: 1.1rem;
        gap: 2rem;
    }

    .fail-header .emoticon {
        font-size: 8rem;
    }

    .results {
       font-size: 0.9rem;
       margin-bottom: 3rem;
    }

    .questions h1 {
        font-size: 1.8rem;
    }

    .questions {
       gap: 1rem;
    }

    .question-header {
        margin-bottom: 1rem;
        line-height: 1.5;
        font-size: 1.1rem;
    }

    .question-row {
        max-width: 320px;
    }
    
    .routes {
        margin-top: 7rem;
        font-size: 1.1rem;
        max-width: 320px;
    }
 }