.rules-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    font-size: 1.1rem;
    margin-top: 3rem;
}

.row {
    line-height: 1.5;
}

.m-left {
    margin-left: 2rem;
}

.m-left-child {
    margin-left: 3rem
}

@media (min-device-width: 360px) and (max-device-width: 428px) and (orientation: portrait) {
    .row {
        font-size: 1rem;
    }

    .rules-list ul {
        font-size: 1rem;
    }
}

