.rank-table-tr-head {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background-color: #e4cf62;
    color: #000;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.3rem;
  }