.heroes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

@media (min-device-width: 360px) and (max-device-width: 428px) and (orientation: portrait) {
  .heroes-container {
    grid-template-columns: repeat(1, 1fr);
  }
}