.not-member-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.not-member-container h2 {
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.not-member-container a {
    font-size: 1.3rem;
}

.reg-btn {
    color: #f3d22d;
    margin-top: 1rem;
}

.reg-btn:hover {
    opacity: 0.8;
}

@media (min-device-width: 360px) and (max-device-width: 428px) and (orientation: portrait) {
  
    .not-member-container {
        margin-top: 5rem;
        margin-bottom: 1rem;
    }

    .not-member-container h2 {
        font-size: 1.1rem;
    }

    .not-member-container a {
        font-size: 1.1rem;
    }

   }