.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    width: 100%;
}

@media (min-device-width: 360px) and (max-device-width: 428px) and (orientation: portrait) {
   .game-container {
    max-width: 320px;
    margin-top: 3rem;
   }
}