@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap');

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}