.footer-box {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

@media (min-device-width: 360px) and (max-device-width: 428px) and (orientation: portrait) {
   .footer-box {
    font-size: 1.1rem;
   }  
}