.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media (min-device-width: 360px) and (max-device-width: 428px) and (orientation: portrait) {
    .login-container {
        margin-top: 4rem;
    }
}