.rules-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    text-align: justify;
}

@media (min-device-width: 360px) and (max-device-width: 428px) and (orientation: portrait) {
    .rules-container {
        max-width: 280px;
        margin-top: 3rem;
    }
}
